<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="mb-3">
                <label for="ResetPasswordEmail" class="form-label">Email address</label>
                <input type="email" name="email" ngModel required #email="ngModel"
                 class="form-control"
                  id="ResetPasswordEmail"
                placeholder="Enter Email">
              </div>
           
            <button type="submit" [disabled]="f.invalid"
             class="btn btn-primary">Reset Password <i class ="fas fa-paper-plane"></i></button>
          </form>
    </div>
</div>